.outerContainer {
  justify-content: center;
}

.paw-userprofile-button {
  padding: 4px;
  max-width: 80px;
}

.paw-post-card {
  height: 250px;
  max-width: 250px;
}

.table > tbody > tr > td {
  vertical-align: middle;
}
.table > tbody > tr > th {
  vertical-align: middle;
}