
<div class="toolbar" role="banner">

    <!--Navbar-->
    <mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark elegant-color">

      <mdb-navbar-brand>
        <a class="navbar-brand" href="#">
          <img src="https://i.ya-webdesign.com/images/kitty-paw-png-8.png" height="30" class="d-inline-block align-top" alt="">
        </a>
      </mdb-navbar-brand>

      <mdb-icon fas icon="angle-left" size="lg" class="text-white mr-auto d-flex d-md-none align-self-center"></mdb-icon>

      <!-- Collapsible content -->
      <links>

        <!-- Links -->
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link waves-light" mdbWavesEffect>Home<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a href="posts" class="nav-link waves-light" mdbWavesEffect>Posts</a>
          </li>
          <li class="nav-item">
            <a href="tags" class="nav-link waves-light" mdbWavesEffect>Tags</a>
          </li>
          <li class="nav-item">
            <a href="users" class="nav-link waves-light" mdbWavesEffect>Users</a>
          </li>
          <li class="nav-item">
            <a href="loona" class="nav-link waves-light" mdbWavesEffect>Loona</a>
          </li>
          <li class="nav-item">
            <a href="posts/create" class="nav-link waves-light" mdbWavesEffect>Upload</a>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto">
          <div *ngIf="app.localStorageItem('paw-currentUser') as currentUser; else elseBlock">

            <li class="nav-item dropdown" dropdown>
              <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
                {{ currentUser }}<span class="caret"></span></a>
              <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary elegant-color-dark" role="menu">
                <a class="dropdown-item waves-light elegant-color" mdbWavesEffect href="#">Profile</a>
                <a class="dropdown-item waves-light elegant-color" mdbWavesEffect href="#"><mdb-icon fas icon="cog"></mdb-icon> Settings</a>
                <div class="divider dropdown-divider"></div>
                <a (click)="logout()" class="dropdown-item waves-light" mdbWavesEffect href="#">Logout</a>
              </div>
            </li>
          </div>
          <ng-template #elseBlock>
            <li class="nav-item">
              <a href="login" class="nav-link waves-light" mdbWavesEffect>Sign in</a>
            </li>
            <li class="nav-item">
              <a href="register" class="nav-link waves-light" mdbWavesEffect>Register</a>
            </li>
          </ng-template>

        </ul>
      </links>
      <!-- Links -->

      <!-- Collapsible content -->


    </mdb-navbar>
    <!--/.Navbar-->

</div>

<router-outlet></router-outlet>